.ctBlock {
    display: block;
    overflow: hidden;
    max-width: 575.98px;
    min-width: 320px;
    background-color: lightgray;

    &.-center {
        margin: auto;
    }
}

header {
    display: flex;
    height: 44px;
    background-color: blue;
}

