.ctBlock {

    max-width: 1280px; // Tablet
    min-width: 1280px; // Tablet

}

section {
    padding: 0px;
}

// Text //

p {

    width: 629px;
    font-size: 1.6rem; 
}

h1 {
    font-size: 6.4rem; 
    line-height: 6.4rem; 
    font-weight: unset; 
}

h2 {
    font-size: 4.8rem; 
}

button {
    width: 226px; 
    height: 56px; 
    font-size: 1.8rem; 
}

// Sections //

header {
    display: flex;
    height: 80px; 
    padding: 22px 100px; 

    .-logo {
        width: 36px; 
        height: 36px; 
    }

    // Menu Hamburguesa Responsivo //
    
    .menu {

        label {
            display: none; 
        }

        .-items {
            display: flex; 
            position: relative; 
            min-width: 433px; 
            height: 36px; 
            top: 0; 
            left: 0; 
            padding: 0px; 
            background-color: unset; 
            align-items: center; 
            justify-content: space-between; 

            li {
                margin-top: 0px; 
                margin-left: 48px; 
        
                a {
                    color: $mainTextColor; 
                }
            }
        }
    }
}

#intro {
    margin-left: 200px; 
    align-items: left;


    h1 {
        width: auto; 
        align-self: flex-start;
        margin-top: 120px;

        span:last-child {
            color: #0000EC; 
        }
    }

    p {
        margin-top: 16px;
        align-self: flex-start; 
    }

    a {
        align-self: flex-start; 
    }

    button {
        margin-top: 56px; 
    }

    .--desktop {
            display: block; 
        }

    .--mobile {
        display: none; 
    }
}

#episodios {
    height: 1042px; 
    clip-path: polygon(0 12%, 0 100%, 100% 88%, 100% 0%); 

    h2 {
        margin-top: 186px; 
        margin-left: 200px; 
        align-self: flex-start; 
    }

    .ctFlex {
        width: 1200px;  // Tablet
        flex-direction: row; 
        flex-wrap: wrap; 
        gap: 40px; // Tablet
        margin-top: 26px; 
    }

    .podcastBox {
        width: 580px; // Tablet
        margin-top: unset; 

        &:first-child {
            margin-top: unset; 
        }
    }

}

#dondeVenimos {
    display: grid; 
    grid-template-areas: 
            "a b"
            "a c"; 
    grid-template-columns: 458px 464px; 
    grid-column-gap: 63px; 
    grid-row-gap: 24px; 
    margin: auto; 
    width: 1040px; 
    text-align: unset;  
    overflow: hidden;
    top: -180px; 
    margin-bottom: -180px; 

    img {
        width: 458px; 
        position: unset; 
        top: 0px; 
        margin-bottom: 0px; 
        grid-area: a; 
    }

    h2 {
        grid-area: b; 
        align-self: end; 
    }

    p {
        width: auto; 
        margin-top: 0px; 
        grid-area: c; 
        align-self: start; 
    }
}

#invitados {

        h2 {
            margin-top: 64px; 
            align-self: flex-start; 
            margin-left: 200px;
            width: auto; // Tablet
        }

        .ctGrid {
            margin-top: 36px; 
            grid-template-columns: 1fr 1fr; // Tablet

        }
}

#temas {

    text-align: center;

    h2 {
        margin-top: 64px; 
        text-align: left; 
        width: auto; 
        align-self: flex-start; 
        margin-left: 200px; 
    }

    .ctFlex{
        flex-direction: row; 
    }

    .card {

        margin-top: 69px; 

        h3 {
            width: 220px; 
            margin-top: 29px; 
            font-size: 2.4rem;
            font-weight: 600;
        }

        &:first-child {
            margin-top: 69px; 
        }

        &:nth-child(2) {
            margin-top: 69px; 
        }
    }
}

#novedades {
    height: 518px; 
    background: $gradBkColor;
    text-align: center;
    clip-path: polygon(0 25%, 0 100%, 100% 100%, 100% 0); 
    margin-top: 34px; 

    h2 {
        color: $altTextColor;
        margin-top: 213px; 
        width: 692px; 
    }

    button {
        width: 345px; 
        margin-top: 36px;
    }
}

footer {
    height: 95px; 
    margin: auto; 
    flex-direction: row; 
    justify-content: space-between; 
    padding: 0 100px;

    p {
        width: 269px; 
    }

}