
.ctBlock {
    display: block;
    overflow: hidden;
    max-width: 575.98px;
    min-width: 320px;
    background-color: $altBkColor;

    &.-center {
        margin: auto;
    }
}

.ctGrid {
    display: grid;
}

.ctFlex {
    display: flex;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    text-align: center;
}

// Text //

h1, h2, h3, h4 ,h5, h6 {
    font-family: $fontSans;
    color: $mainTextColor;
}

h1, h2 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.2rem;
}

h2 {
    width: 288px; 
}

p, .button, a, li{
    font-family: $fontMono;
    color: $mainTextColor;
}

p {
    width: 288px;
    font-size: 1.4rem;
}

.button {
    display: flex;
    width: 288px;
    height: 48px;
    border: 0px;
    background-color: $mainBkColor;
    font-weight: 500;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
}


// Sections //

header {
    position: relative;
    display: flex;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    .-logo {
        width: 24px;
        height: 24px;
    }

    // Menu Hamburguesa Responsivo //

    .menu {

        input {
            display: none;
        }

        label {
            display: inline-block;
            width: 18px;
            height: 18px;
            text-align: center;
        }

        .-burgerOpen {
            line-height: 8px;
            font-size: 3rem;
            font-family: $fontMono;
            vertical-align: bottom;
            color: #060A24;
        }

        .-burgerClose {
            display: none;
            line-height: 8px;
            font-size: 2rem;
            font-family: $fontMono;
            font-weight: 500;
            color: #060A24;
        }

        .-items {
            display: none;
            box-sizing: border-box;
            position: absolute;
            min-width: 320px;
            width: 100%;
            height: 200px;
            top: 44px;
            left: 0px;
            padding: 16px;
            background-color: #0000EC;

            li {
                margin-top: 24px;
                font-size: 1.6rem;
                text-transform: uppercase;
        
                &:first-child {
                    margin-top: 0px;
                }

                a {
                    color: $altTextColor;
                }
            }

        }

        #menuCheckbox:checked ~ .-items {
            display: block;
        }

        #menuCheckbox:checked ~ label .-burgerOpen {
            display: none;
        }

        #menuCheckbox:checked ~ label .-burgerClose {
            display: inline-block;
            vertical-align: bottom;
        }
    }
}

#intro {
    text-align: left;


    h1 {
        align-self: center;
        width: 288px;
        margin-top: 13px;

        span:first-child {
            text-decoration: line-through;
        }
    }

    p {
        margin-top: 16px;
    }

    .button {
        margin-top: 36px;
    }

    .--desktop {
            display: none;
        }
}

#episodios {
    height: 1203px;
    background: $gradBkColor;
    clip-path: polygon(0 2%, 0 100%, 100% 98%, 100% 0%);
    text-align: left;
    margin-top: 8px;

    h2 {
        color: $altTextColor;
        margin-top: 44px;
    }

    .ctFlex {
        flex-direction: column;
    }

    .podcastBox {
        height: 235px;
        margin-top: 11px;

        &:first-child {
            margin-top: 21px;
        }

        iframe {
            width: 100%; 
            height: 100%; 
            border: 0px; 
        }
    }

}

#dondeVenimos {
    position: relative;
    text-align: left;


    img {
        width: 100%;
        position: relative;
        top: -80px;
        margin-bottom: -80px;
    }

    h2 {
        margin-top: 27px;
    }

    p {
        margin-top: 8px;
    }
}

#invitados {
    text-align: left;
    padding: 0px;

        h2 {
            margin-top: 38px;
        }

        .ctGrid {
            margin-top: 14px;
        }

        img {
            width: 100%;
        }
}

#temas {

    text-align: center;

    h2 {
        margin-top: 32px;
    }

    .ctFlex{
        flex-direction: column;
    }

    .card {

        margin-top: 65px;

        h3 {
            margin-top: 13px;
            font-size: 2.4rem;
            font-weight: 600;
        }

        &:first-child {
            margin-top: 37px;
        }

        &:nth-child(2) {
            margin-top: 49px;
        }
    }
}

#novedades {
    height: 341px;
    background: $gradBkColor;
    text-align: center;
    clip-path: polygon(0 6%, 0 100%, 100% 100%, 100% 0);
    margin-top: 26px;

    h2 {
        color: $altTextColor;
        margin-top: 48px;
    }

    .button {
        margin-top: 36px;
    }
}

footer {
    height: 121px;

    p {
        margin-top: 8px;
    }

    aside {
        margin-top: 16px;

        i {
            font-size: 1.6rem;
            color: $mainTextColor;
        }

        &.ctFlex {
            width: 227px;
            justify-content: space-between;
        }
    }

}