$maxMiniMobile: 575.98px;
$maxMobile: 767.98px;
$maxTablet: 991.98px;
$minDesktop: 992px;

$fontMono: 'IBM Plex Mono', monospace;
$fontSans: 'IBM Plex Sans', sans-serif;

$mainTextColor: #060A24;
$altTextColor: #FFFFFF;

$mainBkColor: #00F3BB;
$altBkColor: #FFFFFF;
$gradBkColor:linear-gradient(#0000FF, #0000A3);;