@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}

ul, li, a, button {
  text-decoration: none;
  list-style-type: none;
}

.ctBlock {
  display: block;
  overflow: hidden;
  max-width: 575.98px;
  min-width: 320px;
  background-color: #FFFFFF;
}

.ctBlock.-center {
  margin: auto;
}

.ctGrid {
  display: -ms-grid;
  display: grid;
}

.ctFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 16px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
}

h1, h2 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 4.2rem;
}

h2 {
  width: 288px;
}

p, button, a, li {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
}

p {
  width: 288px;
  font-size: 1.4rem;
}

button {
  width: 288px;
  height: 48px;
  border: 0px;
  background-color: #00F3BB;
  font-weight: 500;
  font-size: 1.6rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
}

header .-logo {
  width: 24px;
  height: 24px;
}

header .menu {
  position: relative;
}

header .menu input {
  display: none;
}

header .menu label {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
}

header .menu .-burgerOpen {
  line-height: 8px;
  font-size: 3rem;
  font-family: "IBM Plex Mono", monospace;
  vertical-align: bottom;
  color: #060A24;
}

header .menu .-burgerClose {
  display: none;
  line-height: 8px;
  font-size: 2rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  color: #060A24;
}

header .menu .-items {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  min-width: 320px;
  height: 200px;
  top: 31px;
  left: -286px;
  padding: 16px;
  background-color: #0000EC;
}

header .menu .-items li {
  margin-top: 24px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

header .menu .-items li:first-child {
  margin-top: 0px;
}

header .menu .-items li a {
  color: #FFFFFF;
}

header .menu #menuCheckbox:checked ~ .-items {
  display: block;
}

header .menu #menuCheckbox:checked ~ label .-burgerOpen {
  display: none;
}

header .menu #menuCheckbox:checked ~ label .-burgerClose {
  display: inline-block;
  vertical-align: bottom;
}

#intro {
  text-align: left;
}

#intro h1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 240px;
  margin-top: 13px;
}

#intro h1 span:first-child {
  text-decoration: line-through;
}

#intro p {
  margin-top: 16px;
}

#intro button {
  margin-top: 36px;
}

#intro .--desktop {
  display: none;
}

#episodios {
  height: 1203px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(#0000FF, #0000A3);
  -webkit-clip-path: polygon(0 2%, 0 100%, 100% 98%, 100% 0%);
          clip-path: polygon(0 2%, 0 100%, 100% 98%, 100% 0%);
  text-align: left;
  margin-top: 8px;
}

#episodios h2 {
  color: #FFFFFF;
  margin-top: 44px;
}

#episodios .ctFlex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#episodios .podcastBox {
  height: 235px;
  margin-top: 11px;
}

#episodios .podcastBox:first-child {
  margin-top: 21px;
}

#episodios .podcastBox iframe {
  width: 100%;
  height: 100%;
  border: 0px;
}

#dondeVenimos {
  position: relative;
  text-align: left;
}

#dondeVenimos img {
  width: 100%;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
}

#dondeVenimos h2 {
  margin-top: 27px;
}

#dondeVenimos p {
  margin-top: 8px;
}

#invitados {
  text-align: left;
  padding: 0px;
}

#invitados h2 {
  margin-top: 38px;
}

#invitados .ctGrid {
  margin-top: 14px;
}

#invitados img {
  width: 100%;
}

#temas {
  text-align: center;
}

#temas h2 {
  margin-top: 32px;
}

#temas .ctFlex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#temas .card {
  margin-top: 65px;
}

#temas .card h3 {
  margin-top: 13px;
  font-size: 2.4rem;
  font-weight: 600;
}

#temas .card:first-child {
  margin-top: 37px;
}

#temas .card:nth-child(2) {
  margin-top: 49px;
}

#novedades {
  height: 341px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background: linear-gradient(#0000FF, #0000A3);
  text-align: center;
  -webkit-clip-path: polygon(0 6%, 0 100%, 100% 100%, 100% 0);
          clip-path: polygon(0 6%, 0 100%, 100% 100%, 100% 0);
  margin-top: 26px;
}

#novedades h2 {
  color: #FFFFFF;
  margin-top: 48px;
}

#novedades button {
  margin-top: 36px;
}

footer {
  height: 121px;
}

footer p {
  margin-top: 8px;
}

footer aside {
  margin-top: 16px;
}

footer aside span {
  font-size: 1.6rem;
  color: #060A24;
}

footer aside.ctFlex {
  width: 227px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .ctBlock {
    max-width: 1440px;
    min-width: 992px;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0px;
  }
  p {
    width: 629px;
    font-size: 1.6rem;
  }
  h1 {
    font-size: 6.4rem;
    line-height: 6.4rem;
    font-weight: unset;
  }
  h2 {
    font-size: 4.8rem;
  }
  button {
    width: 226px;
    height: 56px;
    border: 0px;
    background-color: #00F3BB;
    font-weight: 500;
    font-size: 1.8rem;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    padding: 22px 100px;
  }
  header .-logo {
    width: 36px;
    height: 36px;
  }
  header .menu label {
    display: none;
  }
  header .menu .-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-width: 433px;
    height: 36px;
    top: 0;
    left: 0;
    padding: 0px;
    background-color: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .menu .-items li {
    margin-top: 0px;
    margin-left: 48px;
  }
  header .menu .-items li a {
    color: #060A24;
  }
  #intro {
    margin-left: 200px;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  #intro h1 {
    width: auto;
    margin-top: 120px;
  }
  #intro h1 span:last-child {
    color: #0000EC;
  }
  #intro p {
    margin-top: 16px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #intro a {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #intro button {
    margin-top: 56px;
  }
  #intro .--desktop {
    display: block;
  }
  #intro .--mobile {
    display: none;
  }
  #episodios {
    height: 1042px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
    background: linear-gradient(#0000FF, #0000A3);
    -webkit-clip-path: polygon(0 12%, 0 100%, 100% 88%, 100% 0%);
            clip-path: polygon(0 12%, 0 100%, 100% 88%, 100% 0%);
    text-align: left;
    margin-top: 8px;
  }
  #episodios h2 {
    color: #FFFFFF;
    margin-top: 186px;
    margin-left: 200px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #episodios .ctFlex {
    width: 1240px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 72px;
    margin-top: 26px;
  }
  #episodios .podcastBox {
    width: 584px;
    height: 232px;
    margin-top: unset;
  }
  #episodios .podcastBox:first-child {
    margin-top: unset;
  }
  #dondeVenimos {
    position: relative;
    text-align: left;
  }
  #dondeVenimos img {
    width: 100%;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
  }
  #dondeVenimos h2 {
    margin-top: 27px;
  }
  #dondeVenimos p {
    margin-top: 8px;
  }
  #invitados {
    text-align: left;
    padding: 0px;
  }
  #invitados h2 {
    margin-top: 38px;
  }
  #invitados .ctGrid {
    margin-top: 14px;
  }
  #invitados img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */